<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yggdralisk.koinspotifysample">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.launcher.LauncherActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.login.LoginActivity"
            android:label="@string/label_login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".presentation.releases.ReleasesActivity"
            android:label="@string/label_releases"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".presentation.user.UserProfileActivity"
            android:label="@string/label_user_profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".presentation.release.ReleaseDetailsActivity"
            android:label="@string/label_release"
            android:theme="@style/AppTheme" />
    </application>

</manifest>